{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" />
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>


<div class="container mt-5">
    <div class="row">
        {% if message %}
        <div class="alert alert-{{ message.label }} alert-dismissible fade show" role="alert">
            <strong>{{ message.label }}!</strong> {{ message.error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="col">
            <button class="btn btn-outline-danger" id="cancel">Cancel</button>
            <!-- <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Quality</label>
                <input type="number" min=0 max=100 id='quality'
                class="form-control" name="quality" placeholder="Enter image quality from 0 to 100">
            </div> -->
        </div>
    </div>
    
    <div class="row my-3">
        <div class="container">
            <form action="/file_upload" class="dropzone dz" id="my-dropzone">
                <div class="fallback">
                    <input name="file" type="file" name='file' />
                </div>
            </form>
            <button class="btn btn-outline-primary btn-sm px-5 fileinput-button">Select file</button>
        </div>
        <div class="progress">
            <div class="progress-done" data-done="60">
              60%
            </div>
          </div>
    </div>
    <div id="download_file"></div>
      

</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock content %}